@import '@assets/scss-libs/reset';
@import '@assets/scss-libs/variables';
@import '@assets/scss-libs/mixins';
@import '@assets/scss-libs/animate';

$small-circle-radius: 72px;
$big-circle-radius: 544px;
$right-panel-width: 128px;
$tablet_point: 1024px;

@mixin full_screen($zIndex) {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: $zIndex;
}

.backgroundVideo {
  .base {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
  }

  video {
    position: fixed !important;
    z-index: 1;
    max-width: none;
    max-height: none;

    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 100% !important;
    width: auto !important;

    @media (min-aspect-ratio: 1680/885) {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.backgroundBlur {
  @include full_screen(2);
  background: rgba(31, 18, 48, 0.5);
}

.mainContainer {
  @include full_screen(3);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 80px 100px 80px 100px;

  @media (min-width: #{$large_desktop + 1px}) {
    padding: 80px 200px 80px 200px;
  }

  @include tablet {
    padding: 80px 80px;
  }

  @include mobile {
    padding: 65px 42px;

    @media (max-width: 400px) {
      padding: 65px 30px;
    }

    @media (max-width: 345px) {
      padding: 65px 30px;
    }
  }

  @media (max-height: 500px) {
    padding-bottom: 10px;
  }

  box-sizing: border-box;

  .headerPosition {
  }

  .stakeBlock {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @include tablet {
      align-items: center;
    }

    @include mobile {
      align-items: center;
    }

    h2.title {
      @include scale-in-center();

      @include _no_select();

      color: #ffffff;
      font-family: $baseFont;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 130%;
      z-index: 12;
      letter-spacing: 0.02em;
      white-space: nowrap;

      text-align: left;

      @media (min-width: #{$large_desktop + 1px}) {
        font-size: 55px;
      }

      @include tablet {
        text-align: center;
        font-size: 45px;
      }

      @include mobile {
        text-align: center;
        font-size: 28px;
        letter-spacing: 0.03em;
        line-height: 136%;

        @media (max-width: 370px) {
          font-size: 23px;
        }
      }

      @include desktop {
        max-width: 850px;

        @media (max-width: 1250px) {
          font-size: 38px;
        }
      }
    }

    .stakeNowBlock {
      @include scale-in-center();


      @include _no_select();
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 214px;
      height: 82px;

      background: rgba(0, 173, 232, 0.1);
      border: 1.5px solid #00ADE8;
      box-sizing: border-box;
      border-radius: 10px;

      z-index: 11;

      position: relative;

      margin-top: 55px;

      @include tablet {
        margin-top: 55px;
      }

      @include mobile {
        margin-top: 50px;

        width: 130px;
        height: 50px;
      }

      h3 {
        z-index: 12;
        font-family: $baseFont;
        color: $textColor;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1;

        // opacity: 0.86;

        @include mobile {
          font-size: 16px;
        }
      }

      &:hover {
        background: #00ADE8;
      }
    }
  }

  .socialPosition {
    @include scale-in-center();
    position: absolute;
    z-index: 21;

    @media (max-height: 500px) {
      display: none;
    }

    @include mobile {
      bottom: 60px;
    }

    @include tablet {
      bottom: 120px;

      @media (max-height: 768px) {
        bottom: 60px;
      }
    }

    @include desktop {
      right: 100px;

      @media (min-width: #{$large_desktop + 1px}) {
        right: 200px;
      }

      top: 50%;
      margin-top: -186px;
    }
  }

  a {
    &:focus {
      outline: none;
    }

    text-decoration: none;
  }
}
