@import '@assets/scss-libs/variables';
@import '@assets/scss-libs/mixins';
@import '@assets/scss-libs/animate';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .logo {
    @include scale-in-center();

    @include _icon_background('@assets/images/harmony_logo.svg');

    width: 170px;
    height: 33px;

    z-index: 21;

    @include mobile {
      width: 24px;
      height: 24px;

      @include _icon_background('@assets/images/harmony_logo_mobile.svg');
    }
  }

  .menuButton {
    @include _link();

    display: none;

    @media (max-width: $tablet) {
      &.displayMenu {
        display: block;
      }

      &.hideMenu {
        display: none;
      }
    }

    z-index: 21;
  }

  .menu {
    @include scale-in-center();

    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      @include _no_select();
      @include _link();

      margin-left: 40px;

      &:nth-child(1) {
        margin: 0px !important;
      }

      font-family: $baseFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      text-decoration: none;
    }

    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }

    &.mobileMenu {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        margin-left: 0px;
        margin-top: 60px;

        @include mobile {
          margin-top: 35px;
        }
      }

      background: rgba(31, 18, 48, 0.9);
      mix-blend-mode: normal;
      z-index: 20;
    }
  }
}
